@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;500;700&display=swap');

:root {
  --white: #fff;
  --red: #b20823;
  --black: #000;
  --medBlack: #3a3b3c;
}


* {
  margin: 0;
  padding: 0;
  color: var(--white);
  font-family: 'Josefin Sans', sans-serif;
}

.titleInstagram {
  /*writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: .4rem;
  font-size: 28px;*/
  /*margin-top: 50px;*/
  letter-spacing: .4rem;
  transform: rotate(-90deg);
  font-size: 1.8em;
  color: #FFF;
  text-transform: uppercase;
}

.button-more {
  border-radius: 10px;
  padding: 3px 8px 0 8px;
  font-weight: 700;
  background-color: var(--red);
}

.text-red {
  color: var(--red);
}