.whoImage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url('../imgs/quienesSomos.jpg');
  width: 100%;
  height: 100vh;
}

.left-title {
  font-size: 120px;
  font-weight: bolder!important;
  margin-left: 150px!important;
}

.moved {
  margin-right: -70px;
}

.right-section {
  margin-top: 170px;
  width: 65%;
  margin-left: -100px;
}

.right-text {
  text-align: justify;
  font-size: 18px;
}

.titleInstagram {
  font-size: 25px!important;
  margin-top: 290px;
}

.aver {
  background-color: var(--red);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

i.fa-right-long {
  font-size: 16px!important;
  top: 505px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .left-title {
    font-size: 60px;
    margin-left: 20px!important;
  }

  .right-section {
    margin-top: 50px;
    margin-right: 50px;
    margin-left: -130px;
  }

  .right-text {
    font-size: 17px!important;
  }

  i.fa-right-long {
    font-size: 16px!important;
    top: 927px;
  }

  .buttonContainer {
    margin-top: 20px!important;
  }

  .titleInstagram {
    font-size: 25px!important;
    margin-top: 450px!important;
  }
}

@media (min-width: 1025px) and (max-width: 1500px) {
  .left-title {
    font-size: 80px;
    margin-left: 20px!important;
  }

  .right-section {
    margin-top: 60px;
    margin-right: 50px;
  }

  .right-text {
    font-size: 30px!important;
  }

  i.fa-right-long {
    font-size: 16px!important;
    top: 1303px;
  }

  .titleInstagram {
    font-size: 30px!important;
    margin-top: 650px!important;
  }
}